@import '../../styles/mixins';
@import '../../styles/variables';


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: $backgroundLight;

    &-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }
    &-img {
        padding: 0 1rem;

        @include tablet {
        padding: 0 1rem;
        }

        &__image {
        max-width: 100%;
        height: auto;
        }
    }
    &-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;

         @include tablet {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        padding: 0;
        }
   }
   &-list {
    list-style: none;

    &__item {
    padding: 0.5rem 0;
    }
   } 
}

